body {
    font-family: Arial, sans-serif;
    background-image: url('library.jpg');
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 20px; /* Növeljük a távolságot */
    display: inline-block; /* Blokk szintű elem, hogy elhelyezhető legyen */
}

button.red-box {
    background-color: #dc3545; /* Piros */
}

button.blue-box {
    background-color: #007bff; /* Kék */
}

button.green-box {
    background-color: #28a745; /* Zöld */
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 10px;
}

.color-box {
    width: 100px;  /* Négyzet szélessége */
    height: 100px; /* Négyzet magassága */
    position: absolute; /* Középre helyezéshez */
    top: 50%; /* 50% a magasságból */
    left: 50%; /* 50% a szélesságból */
    transform: translate(-50%, -50%); /* Középre igazítás */
    display: none; /* Alapértelmezés szerint rejtve */
}
